body {
	font-family: Arial, sans-serif;
	font-size: 90%;
}
#interface {
	width: 450px;
        margin: 20px auto;
        border: 1px solid #666;
}
#footer {
        margin: 0 auto;
        padding: 20px 0;
        padding-left: 20px;
        border: 1px solid #666;
        font-weight: bold;
}
#messages {
	width: 400px;
	margin: 0px auto;
	list-style-type: none;
	padding: 0 0;
}
#messages li {
	margin: 15px 0;
	padding: 10px 15px;
	border: 1px solid #666;
	position: relative;
}
#messages span {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	margin: 4px;
	padding: 2px 4px;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #666;
}
